@font-face {
    font-family: 'alegreyablack';
    src: url('../fonts/alegreya-black-webfont.woff2') format('woff2'),
         url('../fonts/alegreya-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyablack_italic';
    src: url('../fonts/alegreya-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/alegreya-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyabold';
    src: url('../fonts/alegreya-bold-webfont.woff2') format('woff2'),
         url('../fonts/alegreya-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyabold_italic';
    src: url('../fonts/alegreya-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/alegreya-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyaitalic';
    src: url('../fonts/alegreya-italic-webfont.woff2') format('woff2'),
         url('../fonts/alegreya-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyaregular';
    src: url('../fonts/alegreya-regular-webfont.woff2') format('woff2'),
         url('../fonts/alegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
